@page "/"
@inject IAccessTokenProvider TokenProvider
@attribute [Authorize]
<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-md-8">
                <div>
                    Hello @context.User.FindFirst("given_name").Value,
                    here's the list of your claims:
                </div>
                <div>
                    @context.User.IsInRole("admin")
                    <small>
                        token: @accessToken.Value
                    </small>
                </div>
            </div>
            <ul>

                <li>@accessToken.Expires.ToLocalTime()</li>
                @foreach (var claim in context.User.Claims)
                {
                    <li><b>@claim.Type</b>: @claim.Value</li>
                }
            </ul>
        </div>

    </Authorized>
    <NotAuthorized>
        <p>I'm sorry, I can't display anything until you log in</p>
    </NotAuthorized>
</AuthorizeView>

@code{
    AccessToken accessToken = new AccessToken();

    protected override async Task OnInitializedAsync()
    {
        var token = await TokenProvider.RequestAccessToken();
        token.TryGetToken(out accessToken);
    }

}

